<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>FluentLab</title>

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="logo">
                    <img src="../images/FluentLab_logo.png">
                </div>
                <div class="user">
                    <img src="../images/user.png" class="icon" alt="User Icon" onclick="toggleMenu()">
                    <div id="user-menu" class="user-menu">
                        <!-- Если пользователь не авторизован, показываем Login и Register -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Если авторизован, показываем Logout -->
                            <a asp-controller="Account" asp-action="Logout" class="menu-button">Logout</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="menu-button">Login</a>
                            <a asp-controller="Account" asp-action="Register" class="menu-button">Register</a>
                        }
                    </div>
                </div>
            </div>

            <div class="lessons">
                <div class="container">
                    <div class="lessons-holder">
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        Learn Grammar
                                    </div>
                                    <div class="lesson-disc">
                                        In this section you can study grammar rules and take a test after each one.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        Tests
                                    </div>
                                    <div class="lesson-disc">
                                        Here, you can take tests from A1 to B2 level and view your results. (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        Form Sentences 
                                    </div>
                                    <div class="lesson-disc">
                                        In this section, you will arrange words in the correct order to form proper sentences. (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lesson">
                            <a href="@Url.Action("LearnGrammar", "Home")">
                                <div class="lesson-block">
                                    <div class="lesson-title">
                                        In Development
                                    </div>
                                    <div class="lesson-disc">
                                        (in development. link to Learn Grammar)
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Показать или скрыть меню при нажатии на иконку
        function toggleMenu() {
            const menu = document.getElementById("user-menu");
            menu.style.display = menu.style.display === "block" ? "none" : "block";
        }

        // Закрыть меню, если кликнули вне его
        window.onclick = function (event) {
            if (!event.target.matches('.icon') && !event.target.matches('#user-menu') && !event.target.matches('#user-menu *')) {
                const menu = document.getElementById("user-menu");
                if (menu.style.display === "block") {
                    menu.style.display = "none";
                }
            }
        }
    </script>

</body>
</html>